#welcome {
  text-align: center;
  max-width: 500px;
}

#welcome h2,
#welcome p {
  margin-bottom: 1rem;
}

#welcome p {
  color: #8435de;
}
#welcome img {
  width: 30vw;
}
.footer {
  width: 100%;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
}
#welcome a {
  text-decoration: none;
  margin-top: 1rem;
}
